# Source
src/
__tests__/
static/

# Development
index.html
.storybook/
coverage/
storybook-static/

# Config
eslint.config.js
jest.config.js
vite.config.js
tsconfig.json
tsconfig.base.json
tsconfig.app.json
tsconfig.test.json
tsconfig.storybook.json
.prettierrc
.prettierignore
.gitignore
.npmignore

# Lock files
package-lock.json
*.lock
